//colours

$background-colour: #F5F5F5;
$red: #d13939; 
$blue: #0084ff;
$grey-text: #383838;



//font titles

$font-type: Abadi MT Condensed Extra Bold;
$font-size: 48pt;

$font-type: Caveat;
$font-size: 48pt;

