@import '_vars';

@font-face
{
font-family: 'Abadi MT Condensed Extra Bold';
src: url('../fonts/Abadi MT Condensed Extra Bold.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-color: $background-color;
color: $grey-text;
font-size: 10px;
text-align: center;
}

.back{
    font-size: .5em;
    position: absolute;
    top: 35px;
    left: 10px;
}

iframe{
    width: 80vw;
    height: 45vw;
}

.source{
    margin: 20vw 0 10vw 0;
    img{
    max-width: 80vw;
    }
}

.light-box{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    background-color: #222;
    color: #fff;
    display: none;
}

.proj-desc{
font-size: 2em;
margin: 0 10px;
}

.exit{
    font-size: 3em;
    color: #fff;
    position: absolute;
    top: 10px;
    left: 30px;
}

.fab, .fas{
    font-size: 4em;
    margin: 0 10px;
}

ul{
    text-align: center;
    li{
        display: inline-block;
        list-style: none;
    }
}

.hidden{
    display: none !important;
}

.shown{
    display: block !important;
}

.opacity{
    opacity: 0;
}

.shrink{
    width: 0 !important;
}

.show-desc{
    width: auto !important;
    height: auto !important;
    opacity: 1 !important;
    padding-bottom: 18px;
}

.grow{
    width: 60vw !important;
    height: 60vw !important;
    opacity: 1 !important;
}

.box img{
    max-width: 60vw;
}

.lightBoxImage{
    max-height: 80vh;
}

.visible{
    visibility: visible !important; 
}


.container{
    position: relative;
    min-height: 100vh;
    height: max-content;
    max-width: 100vw;
    overflow: hidden;
    padding-bottom: 340px;
}

.names{
    margin: 25% 15% 0 15%;
    .name-box{
        float: left;
        transition: width 1s ease-in-out , display .3s ease-in-out;
        text-align: center;
        width: 45%;
        h2{
            padding: 7px 5px;
            color: white;
            background-color: $blue;
            text-transform: uppercase;
            font-family: $title-font-type;
            font-size: 1.4em;
        }
        p{
            margin-bottom: 15px;
            color: $blue;
            text-transform: lowercase;
            font-family: $subtitle-font-type;
            font-size: 1.6em;
        }
        &:last-of-type{
            float: right;
            h2{
            background-color: $red;
            }
            p{
            color: $red;
            }
        }
    }
}


.main-title{
    margin-top: -50px !important;
    width: 100% !important;
}

.heads{
    margin-top: 50px;
}

.personOne, .personTwo{
    transition: opacity .5s;
    transition: left ease-in-out 1s, right ease-in-out 1s;
    max-width: 300px;
    position: absolute;
    bottom: 0px;
    .social-media{
        width: 300px;
        visibility: hidden;
    }
    img{
        max-width: 300px;
        &:hover{
            z-index: 5;
        }
    }
}

.personOne{
    left: -25%;
    z-index: 1;
}

.personTwo{
    right: -25%;   
}

.slide-left{
    left: 0 !important;
}

.slide-right{
    right: 0 !important;
}


.jacob-boxes, .helen-boxes{
    margin: 0 auto;
    width: 60vw;
    clear: both;
    display: flex;
    flex-wrap: wrap;
    .box{
        width: 0;
        height: 0;
        opacity: 0;
        margin: 5px;
        background-color: darkmagenta;
        overflow: hidden;
        z-index: 9;
    }
}

.j-, .h- {
    &box:first-of-type{
    transition: width .1s ease-in-out 0s, height .1s ease-in-out 0s, opacity linear 3s;
    background-color: red;
    }

    &box:nth-of-type(2){
    transition: width .1s ease-in-out 1s, height .1s ease-in-out 1s, opacity linear 3s;
    background-color: blue;
    }

    &box:nth-of-type(3){
    transition: width .1s ease-in-out 2s, height .1s ease-in-out 2s, opacity 4s;
    background-color: darkmagenta;
    }
    &box:nth-of-type(4){
    transition: width .1s ease-in-out 3s, height .1s ease-in-out 3s, opacity 5s;
    background-color: green;
    }
    &desc{
        width: 0;
        height: 0;
        transition: opacity 1s;
    }
}






//====================================================== MEDIA QUERIES ==============================================================
@media screen and (min-width:320px){
    
    .personOne{
        left: -25%;
        z-index: 1;
    }
    
    .personTwo{
        right: -25%; 
    }

    .slide-left{
        left: 3% !important;
    }
    
    .slide-right{
        right: 3% !important;
    }

}

@media screen and (min-width:375px){
    .back{
        top: 50px;
        left: 5px;
    }

    .personOne{
        left: -15%;
        z-index: 1;
    }
    
    .personTwo{
        right: -15%;
    }

    .slide-left{
        left: 8% !important;
    }
    
    .slide-right{
        right: 8% !important;
    }    

}


@media screen and (min-width:375px){

    .names{
        margin: 25% 10%;
    }
    
    .personOne{
        left: -15%;
        z-index: 1;
    }
    
    .personTwo{
        right: -15%;          
    }

    .slide-left{
        left: 9% !important;
    }
    
    .slide-right{
        right: 9% !important;
    }    

}

@media screen and (min-width:400px){
    .back{
        top: 15px;
        left: 45%;
    }

    .names{
        margin: 25% 5% 35% 5%;
    }
    
    .personOne{
        left: -10%;
        z-index: 1;
    }
    
    .personTwo{
        right: -10%;
    }

    .slide-left{
        left: 14% !important;
    }
    
    .slide-right{
        right: 14% !important;
    }  

}


//===============IPAD==============
@media screen and (min-width:760px){
    .back{
        top: 12%;
        left: 48%;
        font-size: .8em;
    }

    .heads{
        margin-top: 0;
    }

    .personOne, .personTwo{
        .social-media{
            width: 400px;
        }
        img{
            max-width: 400px;
        }
    }
    
    .personOne{
        left: 10%;
        z-index: 1;
    }
    
    .personTwo{
        right: 18%;
    }

    .slide-left{
        left: 24% !important;
    }
    
    .slide-right{
        right: 36% !important;
    }  

    .show-desc{
        width: 100% !important;
        height: auto !important;
        opacity: 1 !important;
        padding: 0 5% 18px 5%;
        text-align: center;
        font-size: 1.3em;
    }
    
    .grow{
        flex-direction: row;
        width: 29vw !important;
        height: 29vw !important;
        opacity: 1 !important;
    }

    .box img{
        max-width: 29vw;
    }

    .jacob-boxes, .helen-boxes{
        width: 100%;
        justify-content: center;
        margin-top: -10%;
     }

     .main-title{
        margin-top: -25% !important;
    }

    .names .name-box h2
    {
        font-size: 2.6em;
    }

    .names .name-box p
    {
        margin-top: 5px;
        font-size: 2.3em;

    }

}


//===============DESKTOP==============
@media screen and (min-width:1000px){
    .back{
        top: 70px;
        left: 100px;
    }

    .names{
        margin: 3% 5%;
    }

    iframe{
        width: 60vw;
        height: 25vw; 
    }

    .source{
        margin: 3vw 0;
    }

    .personOne, .personTwo{
        .social-media{
            width: 26vw;
        }
        img{
            max-width: 32vw;
        }
    }
    
    .personOne{
        left: 25%;
        z-index: 1;
    }
    
    .personTwo{
        right: 25%; 
    }

    .slide-left{
        left: 0% !important;
    }
    
    .slide-right{
        right: 3% !important;
    }

    .main-title{
        margin-top: 0% !important;
        font-size: 2.5em;
    }
    
    .grow{
        flex-direction: row;
        width: 20vw !important;
        height: 20vw !important;
        opacity: 1 !important;
    }

    .box img{
        max-width: 20vw;
    }

    .jacob-boxes, .helen-boxes{
        width: 70%;
        justify-content: center;
        top: 55%;
        position: absolute;

        .j-desc, .h-desc{
            font-size: 2.6em;
            margin-bottom: 4%;
            margin-top: -3%;
        }
     }

     .jacob-boxes{
         right: 0;
     }

     .helen-boxes{
         left: 0;
     }
}

@media screen and (min-width:1200px){
    .slide-right{
        right: 10% !important;
    }

    .social-media{
        width: 39vw;
    }
}

